.App {
  text-align: center;
}

.App-floating-fruit {
  height: 20vmin;
  pointer-events: none;
}

h1 {
  font-family:'Roboto', sans-serif;
  margin-bottom: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-floating-fruit {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background: linear-gradient(to bottom, #d4d4f7 0%, #fff 100%);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-floating-fruit-container {
  display: flex;
  gap: 40vmin;
}

.App-link {
  color: #61dafb;
}

.App-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
