.Fruits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.Fruits-container h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin: 40px;
}

.Fruits-options {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.Fruits-button {
    font-size: 2rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: #ebebeb;
    border: 1px solid #129373;
}

.Fruits-button:hover {
    background-color: #fff;
}

.Fruits-choices {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 40px;
    width: 50%;
    font-size: 2rem;
}

.Fruits-choices h2 {
    margin: 0;
}